@import "tailwindcss";

body {
  background-color: #f9fafb; 
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  color: #000000;
}

th {
  color: #000000;
  font-weight: 600;
}

td {
  color: #000000;
}
